PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=1
DebugLevel=3
Server={{getv "/zabbix/server/passive"}}
ListenPort=10050
StartAgents=5
ServerActive={{getv "/zabbix/server/active"}}
Hostname={{getenv "HOSTNAME"}}
HostMetadata={{getv "/zabbix/agents/metadata"}} pgbouncer
RefreshActiveChecks=120
BufferSend=5
BufferSize=100

Include=/etc/zabbix/zabbix_agentd.conf.d/
