<?php
// Zabbix GUI configuration file.
global $DB;

$DB['TYPE']     = 'POSTGRESQL';
$DB['SERVER']   = '{{getv "/zabbix/server/db/address"}}';
$DB['PORT']     = '0';
$DB['DATABASE'] = '{{getv "/zabbix/server/db/name"}}';
$DB['USER']     = '{{getv "/zabbix/server/db/user"}}';
$DB['PASSWORD'] = '{{getv "/zabbix/server/db/passwd"}}';

// Schema name. Used for IBM DB2 and PostgreSQL.
$DB['SCHEMA'] = '';

$ZBX_SERVER      = 'localhost';
$ZBX_SERVER_PORT = '10051';
$ZBX_SERVER_NAME = '';

$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;
?>
