cluster={{ getenv "NODE_CLUSTER" }}
node={{ getenv "NODE_ID" }}
node_name={{ getenv "HOSTNAME" }}
use_replication_slots=1
master_response_timeout=60
reconnect_attempts=6
reconnect_interval=10
failover=automatic
conninfo='host={{ getenv "IP_ADDR" }} port=5499 user=repmgr dbname=repmgr'